// Variables
// @import "variables";

// Bootstrap
// $icon-font-path: '/fonts/bootstrap/';
// $icon-font-path: '~/bootstrap-sass/assets/fonts/bootstrap/';
// $fa-font-path: '../fonts/vendor/font-awesome';
$fa-font-path: '../fonts';
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";
@import 'node_modules/font-awesome/scss/font-awesome';

html, body {
	background: white !important;
	color: black !important;
	margin: 0;
	padding: 0;
	height: 100%;
}

.flex-center {
	align-items: center;
	display: flex;
	justify-content: center;
}

.main {
	height: 100%;
	display: flex;
	flex-direction: row;

	.sidebar {
		padding: 20px;
		width: 300px;
		border-right: 1px solid gray;
	}

	.content {
		flex-direction: column;
		align-items: stretch;
		padding-left: 15px;
	}
}

table.products td.field:not(:first-child) {
	width: 200px;
}

table.products td.field:first-child {
	width: 50px;
}

.category-item {
	cursor: pointer;
}