<template>
	<ul>
		<li v-for="category in categories">
			<span class="category-item"
				v-bind:data-category-id="category.id"
				v-on:click="spanSelect($event)"
			>
				{{ category.label }}
				<span v-if="category.id === current"><b>(current)</b></span>
			</span>
			<categories-tree
				v-bind:current="current"
				v-if="!!category.categories"
				v-bind:categories="category.categories"
				v-on:select="emitSelect"
			></categories-tree>
		</li>
	</ul>
</template>

<script>
export default {
	props: ['categories', 'current'],
	methods: {
		spanSelect(e) {
			let categoryId = $(e.target).data('category-id');
			console.log('clicked ', categoryId);
			this.$emit('select', categoryId);
		},
		emitSelect(catId) {
			this.$emit('select', catId)
		}
	}
}
</script>